table { 
    border-collapse: collapse; 
    width: 50%; 
    margin: 20px auto; 
}
th, td { 
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: center; 
}
th { background-color: yellow; }

.edit{
    background-color: yellow;
}
.hapus{
    background-color: orange;
}